<div class="content-wrapper" style="min-height: 521 px;">
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0 text-dark">Team Organization</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
  </div>
  <div class="container-fluid">
     <div class="row"> 
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white" style="background: url('./../assets/adminlte/dist/img/photo1.png') center center;">
            <h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
            <h5 class="widget-user-desc text-right">Web Designer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="../../assets/adminlte/dist/img/Max.png" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://th.linkedin.com/">
                    <i class="fab fa-linkedin fa-2x text-info"></i>
                    </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/LegendmaxSK" target="_blank">
                    <i class="fab fa-facebook fa-2x "></i>
                  </a>
                 
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <a href="https://www.instagram.com/?hl=th ">
                    <i class="fab fa-instagram fa-2x " style="color:  rgb(168, 25, 200);"></i>
                  </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white" style="background: url('./../assets/adminlte/dist/img/photo1.png') center center;">
            <h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
            <h5 class="widget-user-desc text-right">Web Designer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="../../assets/adminlte/dist/img/Top.png" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://th.linkedin.com/">
                    <i class="fab fa-linkedin fa-2x text-info"></i>
                    </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/LegendmaxSK" target="_blank">
                    <i class="fab fa-facebook fa-2x "></i>
                  </a>
                 
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <a href="https://www.instagram.com/?hl=th ">
                    <i class="fab fa-instagram fa-2x " style="color:  rgb(168, 25, 200);"></i>
                  </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white" style="background: url('./../assets/adminlte/dist/img/photo1.png') center center;">
            <h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
            <h5 class="widget-user-desc text-right">Web Designer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="../../assets/adminlte/dist/img/Jean.png" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://th.linkedin.com/">
                    <i class="fab fa-linkedin fa-2x text-info"></i>
                    </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/LegendmaxSK" target="_blank">
                    <i class="fab fa-facebook fa-2x "></i>
                  </a>
                 
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <a href="https://www.instagram.com/?hl=th ">
                    <i class="fab fa-instagram fa-2x " style="color:  rgb(168, 25, 200);"></i>
                  </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
     </div>
     <div class="row"> 
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white" style="background: url('./../assets/adminlte/dist/img/photo1.png') center center;">
            <h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
            <h5 class="widget-user-desc text-right">Web Designer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="../../assets/adminlte/dist/img/Kwan.png" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://th.linkedin.com/">
                    <i class="fab fa-linkedin fa-2x text-info"></i>
                    </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/LegendmaxSK" target="_blank">
                    <i class="fab fa-facebook fa-2x "></i>
                  </a>
                 
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <a href="https://www.instagram.com/?hl=th ">
                    <i class="fab fa-instagram fa-2x " style="color:  rgb(168, 25, 200);"></i>
                  </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white" style="background: url('./../assets/adminlte/dist/img/photo1.png') center center;">
            <h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
            <h5 class="widget-user-desc text-right">Web Designer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="../../assets/adminlte/dist/img/Run.png" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://th.linkedin.com/">
                    <i class="fab fa-linkedin fa-2x text-info"></i>
                    </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/LegendmaxSK" target="_blank">
                    <i class="fab fa-facebook fa-2x "></i>
                  </a>
                 
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <a href="https://www.instagram.com/?hl=th ">
                    <i class="fab fa-instagram fa-2x " style="color:  rgb(168, 25, 200);"></i>
                  </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
      <div class="col-md-4">
        <!-- Widget: user widget style 1 -->
        <div class="card card-widget widget-user">
          <!-- Add the bg color to the header using any of the bg-* classes -->
          <div class="widget-user-header text-white" style="background: url('./../assets/adminlte/dist/img/photo1.png') center center;">
            <h3 class="widget-user-username text-right">Elizabeth Pierce</h3>
            <h5 class="widget-user-desc text-right">Web Designer</h5>
          </div>
          <div class="widget-user-image">
            <img class="img-circle" src="../../assets/adminlte/dist/img/Rusdee.png" alt="User Avatar">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://th.linkedin.com/">
                    <i class="fab fa-linkedin fa-2x text-info"></i>
                    </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4 border-right">
                <div class="description-block">
                  <a href="https://www.facebook.com/LegendmaxSK" target="_blank">
                    <i class="fab fa-facebook fa-2x "></i>
                  </a>
                 
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
              <div class="col-sm-4">
                <div class="description-block">
                  <a href="https://www.instagram.com/?hl=th ">
                    <i class="fab fa-instagram fa-2x " style="color:  rgb(168, 25, 200);"></i>
                  </a>
                  
                </div>
                <!-- /.description-block -->
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
          </div>
        </div>
        <!-- /.widget-user -->
      </div>
     </div>
  </div>
</div>

