
  <div *ngIf="!loggedIn()" class="login-box">
    <!-- /.login-logo -->
    <div  class="card">
      <div class="card-body login-card-body">
        <h3 class="login-box-msg">SIGN IN</h3>
  
        <form #loginForm = "ngForm" (ngSubmit)="login()">
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="username"placeholder="username" required [(ngModel)]="model.username">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input  class="form-control" type="password" name="password" placeholder="password" required [(ngModel)]="model.password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div class="icheck-primary">
                <input type="checkbox" id="remember">
                <label for="remember">
                  Remember Me
                </label>
              </div>
            </div>
            <!-- /.col -->
            
            <!-- /.col -->
          </div>
          <div class="row">
            <div class="col-12">
              <button [disabled] = "!loginForm.valid" type="submit" class="btn btn-primary btn-block" >Sign In</button>
            </div>
            
          </div>
        </form>
  
        <div class="social-auth-links text-center mb-3">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a>
          <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          
        </div>
        <!-- /.social-auth-links -->
  
        <p class="mb-1">
          <a href="/">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a href="/" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  





